.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px 20px;
  color: white;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links li a:hover {
  color: #ffcc00;
}
.navbar-links li svg {
  font-size: 18px;
  color: white;
}
.login-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: #ffcc00;
  color: black;
  border-color: #ffcc00;
}

.logout-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e60000;
}
